# =========================
# Python & Virtual Env
# =========================
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.idea/
.vscode/

# =========================
# Datasets (DO NOT UPLOAD)
# =========================
ShanghaiTech/
shanghaitech_h5_empty/
dataset/
data/
frames/
dataCollections/

# =========================
# Media Files
# =========================
*.mp4
*.avi
*.mkv

# =========================
# Model Weights (Large)
# =========================
*.pth
*.pt
*.h5
*.onnx

# =========================
# Logs & Outputs
# =========================
logs/
*.log

# =========================
# Streamlit
# =========================
.streamlit/
